/* ------------------------ Login ------------------------- */

      /* --------------------- Logo ---------------------- */
.manualLoginForm h1 {
    padding-top: 30%;
    margin: auto auto auto;
    overflow: hidden;
    height: 0 !important;
    background: url(https://docs.google.com/uc?export=download&id=1VOJfwecApUbWLqrzpQ4mLgLNR92UBIKy) no-repeat;
    width: 69%;
    background-size: 100%;
}




