/* ------------------------ Login ------------------------- */

      /* --------------------- Logo ---------------------- */
.manualLoginForm h1 {
    padding-top: 30%;
    margin: auto auto auto;
    overflow: hidden;
    height: 0 !important;
    background: url(https://i.imgur.com/MVw4c3k.png) no-repeat;
    width: 69%;
    background-size: 100%;
}




